{% extends "base.html" %}
{% load opencve_extras %}

{% block content %}

<section class="content-header">
    <h1>
        Last CVE Updates
        <small class="label label-default"><i class="fa fa-filter"></i> subscriptions</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">OpenCVE</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-8">
            {% if not changes %}
            <p class="alert alert-info">No changes available.</p>
            {% else %}
            <ul class="timeline">
                {% for change in changes %}
                <li class="time-label">
                    {% ifchanged change.created_at|date:"d b Y" %}
                    <span class="bg-blue bg-opencve">
                        {{ change.created_at|date:"d b Y" }}
                    </span>
                    {% endifchanged %}
                </li>

                <li>
                    {% if change.is_new_cve %}
                    <i class="fa fa-plus bg-red"></i>
                    {% else %}
                    <i class="fa fa-edit bg-blue"></i>
                    {% endif %}
                    <div class="timeline-item">
                        <span class="time" title="{{ change.created_at|date:'d b Y, H:M' }}"><i class="fa fa-clock-o"></i> {{ change.created_at|date:"H:M" }}</span>
                        <h3 class="timeline-header"><a href="{% url 'cve' cve_id=change.cve.cve_id %}">{{ change.cve.cve_id }}</a> {% if change.is_new_cve %}is a new CVE{% else %}has changed{% endif %} <a href="#" class="btn-json-diff" data-toggle="tooltip" data-container="body" title="View the change details"><i class="fa fa-code"></i></a></h3>
                        <div class="timeline-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <p>{{ change.cve.summary }}</p>
                                </div>
                                <div class="col-sm-3">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="no-bordered">CVSS v3</td>
                                                {% if change.cve.json.impact.baseMetricV3 %}
                                                <td class="no-bordered"><span class="label {{ change.cve.json.impact.baseMetricV3.cvssV3.baseScore|cvss_label }} label-cvss">{{ change.cve.json.impact.baseMetricV3.cvssV3.baseScore }} {{ change.cve.json.impact.baseMetricV3.cvssV3.baseSeverity }}</span></td>
                                                {% else %}
                                                <td>--</td>
                                                {% endif%}
                                            </tr>
                                            <tr>
                                                <td>CVSS v2</td>
                                                {% if change.cve.json.impact.baseMetricV2 %}
                                                <td><span class="label {{ change.cve.json.impact.baseMetricV2.cvssV2.baseScore|cvss_label }} label-cvss">{{ change.cve.json.impact.baseMetricV2.cvssV2.baseScore }} {{ change.cve.json.impact.baseMetricV2.severity }}</span></td>
                                                {% else %}
                                                <td>--</td>
                                                {% endif%}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% if not change.is_new_cve %}
                            <div class="box-group" id="{{ change.id }}">
                                {% for event in change.events.all %}
                                <div class="panel box box-changes">
                                    <div class="box-header collapsed pointer change-collapsed" data-toggle="collapse" data-parent="#{{ change.id }}" href="#{{ event.id }}" aria-expanded="false">
                                        <h4 class="box-title">{{ event.get_type_display }}
                                        <span class="box-meta">{{ event.details|event_excerpt|safe }}<i class="fa fa-arrow-circle-o-down"></i><i class="fa fa-arrow-circle-o-up"></i></span>
                                        </h4>
                                    </div>
                                    <div id="{{ event.id }}" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="box-body">
                                            <table class="table">
                                                <thead>
                                                <th>Values Removed</th>
                                                <th>Values Added</th>
                                                </thead>
                                                <tbody>
                                                    {% with template_name="changes/events/"|add:event.type|add:"_details.html" %}
                                                    {% include template_name %}
                                                    {% endwith %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </li>

                {% endfor %}

            </ul>
            {% endif %}
        </div>

        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="box-title">Dashboard Options</div>
                </div>
                <div class="box-body">

                </div>
            </div>
        </div>
        </div>
    </div>
</section>


{% endblock %}